h1{
    text-align: center;
    color:darkblue;
}
body{
    background-color:lightblue;
}
form{
    padding: 5px 5px;
    margin: 10px;
}
.name{
    font-weight: bolder;
    font-size: large;
}
.name input{
    font-family:cursive;
    width: 30%;
    border-radius: 20px;
}
.phone{
    font-weight: bolder;
    font-size: large;
}
.phone input{
    font-family:cursive;
    width: 30%;
    border-radius: 20px;
}
.age{
    font-weight: bolder;
    font-size: large;
}
.age input{
    font-family:cursive;
    width: 30%;
    border-radius: 20px;
}
.dob{
    font-weight: bolder;
    font-size: large;
}
.dob input{
    font-family:cursive;
    width: 30%;
    border-radius: 20px;
}
.gender{
    font-weight: bolder;
    font-size: large;
}
.city{
    font-weight: bolder;
    font-size: large;
}
.city input{
    font-family:cursive;
    width: 30%;
    border-radius: 20px;
}
.skill{
    font-weight: bolder;
    font-size: large;
}
hr{
    color:blueviolet;
}
.submit{
    height: 30px;
    width: 30%;
    background-color: darkblue;
    color: white;
}
.info{
    font-weight: bold;
    font-size: large;
    font-style:oblique;
}